<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyanzhao.sens.mapper.PermissionMapper">

    <select id="findByRoleId" resultType="com.liuyanzhao.sens.entity.Permission">
      SELECT
          DISTINCT t.id,
          t.`name`,
          t.pid,
          t.resource_type,
          t.url,
          t.icon,
          t.sort,
          t.target
      FROM
          sens_rbac_permission t,
          sens_rbac_role_permission_ref r
      WHERE
          r.role_id = #{value} AND
          t.id = r.permission_id
      ORDER BY t.sort ASC
  </select>

    <select id="findPermissionByUserId" resultType="com.liuyanzhao.sens.entity.Permission">
        SELECT
            DISTINCT p.id,
            p.`name`,
            p.pid,
            p.resource_type,
            p.url,
            p.icon,
            p.sort,
            p.target
        FROM
            sens_user u,
            sens_rbac_role r,
            sens_rbac_user_role_ref ur,
            sens_rbac_permission p,
            sens_rbac_role_permission_ref rp
        WHERE
            u.id = #{userId}
            AND ur.user_id = u.id
            AND ur.role_id = r.id
            AND rp.permission_id = p.id
            AND rp.role_id = r.id
        ORDER BY p.sort ASC
    </select>


    <select id="findPermissionByUserIdAndResourceType" resultType="com.liuyanzhao.sens.entity.Permission">
        SELECT
            DISTINCT p.id,
            p.`name`,
            p.pid,
            p.resource_type,
            p.url,
            p.icon,
            p.sort,
            p.target
        FROM
            sens_user u,
            sens_rbac_role r,
            sens_rbac_user_role_ref ur,
            sens_rbac_permission p,
            sens_rbac_role_permission_ref rp
        WHERE
            u.id = #{userId}
            AND ur.user_id = u.id
            AND ur.role_id = r.id
            AND rp.permission_id = p.id
            AND rp.role_id = r.id
            AND p.resource_type = #{resourceType}
        ORDER BY p.sort ASC
    </select>
</mapper>