<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyanzhao.sens.mapper.RoleMapper">

    <select id="findByUserId" resultType="com.liuyanzhao.sens.entity.Role">
      SELECT
          t.id,
          t.role,
          t.description,
          t.level,
          t.create_time
      FROM
          sens_rbac_role t,
          sens_rbac_user_role_ref r
      WHERE
          r.user_id = #{value} AND
          t.id = r.role_id
          AND t.del_flag = 0
          AND r.del_flag = 0
  </select>

    <delete id="deleteByUserId">
      DELETE
      FROM
          sens_rbac_user_role_ref
      WHERE
          user_id = #{value}
          AND del_flag = 0
  </delete>

    <select id="countUserByRoleId" resultType="java.lang.Integer">
      SELECT
          count( * )
      FROM
          sens_rbac_user_role_ref r,
          sens_user t
      WHERE
          r.role_id = #{value} AND
          r.user_id = t.id
          AND t.del_flag = 0
          AND r.del_flag = 0
  </select>

    <select id="findAllWithCount" resultType="com.liuyanzhao.sens.entity.Role">
        SELECT
            t.id,
            t.role,
            t.description,
            count( * ) AS count
        FROM
            sens_rbac_user_role_ref r,
            sens_rbac_role t
        WHERE
            t.id = r.role_id
            AND t.del_flag = 0
            AND r.del_flag = 0
        GROUP BY
            r.role_id
            order by t.level ASC
    </select>
</mapper>